*{
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
    background-color: rgb(233, 227, 219);
    font-family: serif;
}

img{
max-width: 35rem;
display: grid;
grid-template-columns: 200px 1fr;
}

.menu {
    height: 84px;
}

.bar {
    display: table;
    margin: 0;
}

.brands {
min-width: 710px;
list-style: none;
padding-top: 10px;
}

.brands li{
    display: inline;
    margin: 0;
    }

a{
    color: rgb(117, 53, 53);
    text-decoration-line: none;

}

#wrapper{
margin: 1rem;
display: grid;
grid-gap: 20px;
grid-template-columns: 200px 1fr;
}


discography-main{
grid-column: 1/-1;
}

.album{
    display: grid;
}

.album > * {
    position: relative;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.album section{
    z-index: 10;
    background: white;
    display: grid;
}

.album h3{
text-transform: uppercase;
color: grey;
}

@media only screen and (min-width: 1000px){
    header{
        grid-column: 1/-1;
    }
}


