*{
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}

#wrapper{
margin: 1rem;
display: grid;
grid-template-columns: 200px 1fr;
}

discography-main{
grid-column: 1/-1;
}


@media only screen and (min-width: 1000px){
    header{
        grid-column: 1/-1;
    }
}


